<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head>
<body>

<header class="header">
  <div class="container">
      <a href="/" class="header__logo">
          <img src="img/logo.png" alt="">
          <div class="header__logo-text">
              <span>Ювелирный ломбард</span> <br>
              Основан в 2008 году
          </div>
      </a>
      <div class="header__menu">
          <a href="tel:+74951281712" class="header__phone">+7 (495) 128-17-12</a>
          <a href="javascript:void(0)" class="header__menu-item">
              <img src="img/phone.svg" alt="">
              Заказать звонок
          </a>
          <a href="javascript:void(0)" class="header__menu-item">
              <img src="img/point.svg" alt="">
              Все отделения
          </a>
          <div class="header__menu-item user">
              <img src="img/user.svg" alt="">
              Имя Клиента

              <div class="header__submenu">
                  <a href="javascript:void(0)" class="header__menu-item" data-tab="profile"><img src="img/user-red.svg" alt=""> Профиль</a>
                  <a href="javascript:void(0)" class="header__menu-item" data-modal="enter"><img src="img/exit.svg" alt=""> Выйти</a>
              </div>
          </div>
      </div>
  </div>
</header>

<section class="menu">
  <div class="container">
      <a href="javascript:void(0)">Получить займ</a>
      <a href="javascript:void(0)">Онлайн-оценка</a>
      <a href="javascript:void(0)">Ломбард с выездом</a>
      <a href="javascript:void(0)">Тарифы</a>
      <a href="javascript:void(0)">Скупка золота</a>
      <a href="javascript:void(0)">Золото под залог</a>
      <a href="javascript:void(0)">Бриллианты</a>
      <a href="javascript:void(0)">Отзывы</a>
      <a href="javascript:void(0)">Контакты</a>
  </div>
</section>
